//==================================================================================================================== //
// Helpers
//==================================================================================================================== //

//-------------------------------------------------------------------------------------------------------------------- //
// Flex
//-------------------------------------------------------------------------------------------------------------------- //

.flex {
	&-sbc,	&-sbs,	&-sbe,
	&-cc,	&-cs,	&-ce,
	&-sc,	&-ss,	&-se,
	&-ec,	&-es,	&-ee		{ display:			flex; flex-wrap: wrap;	}
	&-sbc,	&-sbs,	&-sbe		{ justify-content:	space-between;			}
	&-cc,	&-cs,	&-ce		{ justify-content:	center;					}
	&-sc,	&-ss,	&-se		{ justify-content:	flex-start;				}
	&-ec,	&-es,	&-ee		{ justify-content:	flex-end;				}
	&-sbc,	&-cc,	&-sc, &-ec	{ align-items:		center;					}
	&-sbs,	&-cs,	&-ss, &-es	{ align-items:		flex-start;				}
	&-sbe,	&-ce,	&-se, &-ee	{ align-items:		flex-end;				}
}