//==================================================================================================================== //
// Font mixins
//==================================================================================================================== //

//-------------------------------------------------------------------------------------------------------------------- //
// Font
// Стилизазия текста.
//-------------------------------------------------------------------------------------------------------------------- //
// $font_family - Семейство шрифта.
// $font_weight - Толщина шрифта.
// $font_size - Размер текста.
// $line_height - Высота строки.
// $color - Цвет текста.
// $line-count - Сколько строк текста мы хотим оставить.
//-------------------------------------------------------------------------------------------------------------------- //

@mixin font($font_family, $font_weight, $font_size, $line_height, $color, $line-count: 0)
{
    font-family:    $font_family;
    font-weight:    $font_weight;
    font-size:      $font_size;
    line-height:    $line_height;
    color:          $color;

    @include trim_lines($line_height, $line-count);
}

//-------------------------------------------------------------------------------------------------------------------- //
// Trim lines
// Обрезает текст.
//-------------------------------------------------------------------------------------------------------------------- //
// $line-height - Высота строки.
// $line-count - Сколько строк текста мы хотим оставить.
//-------------------------------------------------------------------------------------------------------------------- //

@mixin trim_lines($line-height, $line-count)
{
    @if $line-count == 1
    {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    @else if $line-count > 1
    {
        overflow: hidden;
        max-height: calc( #{$line-height} * #{$line-count} );
        display: -webkit-box;
        -webkit-line-clamp: $line-count;
        -webkit-box-orient: vertical;
    }
}