//=============================================================================================//
// Interface
//=============================================================================================//

$SIZE_PC_FULL: 2481px;
$SIZE_PC_NORMAL: 1681px;
$SIZE_PC_MIDDLE: 1441px;
$SIZE_PC_SMALL: 1281px;

$SIZE_MOBILE_FULL: 1025px;
$SIZE_MOBILE_MIDDLE: 721px;
$SIZE_MOBILE_SMALL: 641px;